  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.nav-1{

    height: 40px;
    width: 98vw;
    border: 2px solid;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    
}
.nav-text{
    width: 348px;
    font-size: 14px;
    display: flex;
    font-family: 'poppins';
    align-items: center;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 23px;
}
.svg-person{
    height: 21px;
    margin: 0px 7px;
}
.nav-con{
    display: flex;
}
.logo{
    margin: 0px 20px;
}
.nav-2{
    height: 30px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: 'poppins';
    gap:44px;
    align-items: center;
    position: f;
}
.nav-bar{
    position: fixed;
}
.search-box{
    height: 690px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-family: 'poppins';
    background-image:url(images/search\ box\ background.jpg);
    background-position: center center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 1500px 500px;
    font-weight: 900;
    
}
input{
    width: 800px;
    height: 40px;
    border-radius:19px ;
    font-size: 20px;
}